cypress/node_modules
cypress/test/cypress/videos
cypress/test/cypress/screenshots
kraken/node_modules
kraken/reports
ghost_4.30.0
ghost_4.41.3
imagenes1
imagenes2
resemble/node_modules
reporteFinal_Cypress
imagenes1_All
imagenes2_All
imagenes1_Kraken
imagenes2_Kraken
reporteFinal_Kraken
imagenes1_Kraken_All
imagenes2_Kraken_All
imagenesProcesoNormal
monkey-cypress/node_modules